@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  block-size: 100%;
  inline-size: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 96%;
  font-size: 20px;
  background: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffffe5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(113, 132, 216);
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #312effaf;
  border-radius: 5px;
}

#wrapper {
  position: relative;
  border-radius: 5px;
  min-width: 500px;
  min-height: 500px;
  max-height: auto;
  width: 100%;
  height: 90%;
  margin: auto;
  background-color: white;
  background-size: cover;
  padding: 0px;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 85px;
  margin: auto;
  padding: 0px;
  border: 0px solid #bbb;
}

#user-input {
  width: auto;
  height: auto;
  margin: auto;
  padding: 5px;
  padding-top: 25px;
  border: 0px solid #bbb;
}

#content-main {
  position: relative;
  top: 30%;
  bottom: 10%;
  width: 100%;
  height: 90%;
  min-height: 55%;
  max-height: auto;
  margin: 0px;
  padding: 1px;
  border: 0px solid #bbb;
}

#content-box {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0px solid #bbb;
}

#plot {
  height: 90%;
  border-radius: 10px;
  width: 100%;
  margin: 0px;
  float: left;
  overflow: hidden;
  border: 0px solid rgba(187, 187, 187, 0);
}

#sidebar {
  height: 100%;
  width: 30%;
  margin: 0px;
  float: right;
  padding-right: 1%;
  overflow: hidden;
  border: 0px solid #000;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 40px;
  margin: 0px;
  padding: 0px;
  border: 0px solid #bbb;
} 

#content-source {
  width: auto;
  height: auto;
  min-height: 40px;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  float: right;
  border: 0px solid #bbb;
}

#content-source a {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #53B2C8;
}

#content-info {
  width: auto;
  min-height: 10px;
  margin: 0px;
  padding: 10px;
  float: left;
  overflow: hidden;
  border: 0px solid #bbb;
}

.background {
  fill: #eee;
}

.group {
  position: relative;
  margin-bottom: 5px;
}

.svg-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 0%;
  bottom: 0px;
  vertical-align: top;
  overflow: hidden;
}

.svg-container-responsive {
  display: inline-block;
  position: relative;
  padding: 0%;
  width: 100%;
  height: 105%;
  bottom: 0%;
  left: 10%;
  margin-bottom: 10%;
  overflow: hidden;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  font-weight: normal;
  background: white;
  border: 1px solid #111;
  border-radius: 6px;
  pointer-events: none;
}


/* Generic helper style */
.u-margin2 {
  margin: 2rem 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.info_box {
  position: absolute;
  left: 0%;
  text-align: left;
}
.select select,
.select::after {
  grid-area: select;
}
hr {
  color: rgba(177, 30, 30, 0);
  opacity: 0;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus+.focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  /*
   * Safari will not reveal an option
   * unless the select height has room to 
   * show all of it
   * Firefox and Chrome allow showing 
   * a partial option
   */
  height: 6rem;
  /* 
   * Experimental - styling of selected options
   * in the multiselect
   * Not supported crossbrowser
   */
}

select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select+label {
  margin-top: 2rem;
}